@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

*, *:before, *:after{
  margin: 0;
  padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  overflow: hidden;

}

#game {
  position: absolute;
  z-index: 1;
}

#dialogue  {
  visibility: hidden;

  position: absolute;
  background-color: rgba(165, 127, 89, 0.6);
  left: 30px;
  top: 425px;
  width: 840px;
  height: 190px;
  padding: 20px;
  z-index: 2;

  font-family: 'Permanent Marker', cursive;
  color: rgba(0, 0, 0, 0.7);
}

#dialogue img{
  position: absolute;
  margin-left: 30px;
  margin-top: 30px;
  height: 50px;
}

#dialogue h1{
  margin-left: 130px;
  font-size: 1.3em;
}

#dialogue p{
  margin-left: 130px;
  height: 140px;
  font-size: 2em;
  overflow-y: scroll;
}
